@{
    ViewBag.Title = "ЕГЭ";
}

<h2>Сайты для подготовки к ЕГЭ</h2>

<p>
    <a class="topicHeader" href="https://rus-ege.sdamgia.ru">Русский Язык</a>
</p>
<p>
    <a class="topicHeader" href="https://math-ege.sdamgia.ru/?redir=1">Математика</a>
</p>
<p>
    <a class="topicHeader" href="https://inf-ege.sdamgia.ru">Информатика</a>
</p>
<p>
    <a class="topicHeader" href="https://phys-ege.sdamgia.ru">Физика</a>
</p>

