@model IEnumerable<SMB.Models.Links.Subject>
@{
    ViewBag.Title = "Ссылки";
}
@Styles.Render("~/Content/linksStyle.css")
<h2>Предметы</h2>
<div class="linkContainer">
     @foreach (var subject in Model)
     {
         <table class="linkTable">
             <tr>
                 <td class="linkTableLeftColumn">
                     <a class="topicHeader" href="~/Links/Explore/@subject.Id">@subject.Name</a>
                 </td>
                 @if (ViewBag.HasCookie)
                 {
                     <td class="linkTableRightColumn">
                         <a class="linkTableRightColumnButton" onclick="confirmDelete('subjectId', @subject.Id, '/Links/DeleteSubject/')">Удалить</a>
                     </td>
                 }
                 </tr>
         </table>
         <br />
     }
</div>
@if (ViewBag.HasCookie)
{
<div>
    <form class="formWithValidation" style="width: 100%" method="post" action="~/Links/AddSubject/">
        <input class="simpleTextInput textWithEmptyValidation" type="text" name="subjectName" />
        <input class="redButton" type="submit" value="Добавить предмет" />
    </form>
</div>
}

