.topicHeader {
    text-decoration: none;
    color: black;
    font-size: 30px;
    user-select: none;
    cursor: pointer;
}

.topicHeader:hover {
    color: #068045;
    text-decoration: underline;
}